{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h1>{{ msg }}</h1>
  <form method="post" action="{{ url_for('add_prod') }}">
    <label for="namn">Product Name</label>
    <input name="name" id="name" required>

    <label for="QTY">Amount</label>
    <input name="QTY" id="qty" required>

    <label for="price">Price</label>
    <input name="price" id="price" required>

    <input type="submit" value="Add">
  </form>
{% endblock %}